.unslider {
    overflow: auto;
    margin: 0;
    padding: 0;
    position: relative;
}

.unslider-wrap {
    position: relative
}

.unslider-wrap.unslider-carousel > li {
    float: left
}

.unslider-vertical > ul {
    height: 100%
}

.unslider-vertical li {
    float: none;
    width: 100%
}

.unslider-fade {
    position: relative
}

.unslider-fade .unslider-wrap li {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    z-index: 8
}

.unslider-fade .unslider-wrap li.unslider-active {
    z-index: 10
}

.unslider li, .unslider ol, .unslider ul {
    list-style: none;
    margin: 0;
    padding: 0;
    border: none
}

.unslider-arrow {
    position: absolute;
    left: 20px;
    z-index: 2;
    cursor: pointer;
    top:0;
    bottom:0;
    margin: auto;
    color:#FFF;
    height: 48px;
    font-size: 40px;
}

.unslider-arrow.next {
    left: auto;
    right: 20px
}
/* dots */
.unslider-nav ol {
    list-style: none;
    text-align: center;
    position: absolute;
    bottom: 0;
    left:0;
    right:0;
}

.unslider-nav ol li {
    display: inline-block;
    width: 6px;
    height: 6px;
    margin: 0 4px;
    background: transparent;
    border-radius: 5px;
    overflow: hidden;
    text-indent: -999em;
    border: 2px solid #fff;
    cursor: pointer;
}

.unslider-nav ol li.unslider-active {
    background: #fff;
    cursor: default;
}

/* Custom changes */
.unslider-carousel >li{position: relative}
.unslider .caption{
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    bottom:0;
    padding: 10px 20px 20px;
    background: rgba(0,0,0,.2);
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
color:#FFF;
}
.unslider .caption h2{margin-bottom: .5em}

.unslider .caption a{color:#FFF}
.unslider .caption .more-link{margin-bottom: 0}


.unslider-carousel,
.container-wide .unslider ul li,
.image-bg{height:100%}
.image-bg{display:block;background-repeat: no-repeat;background-size: cover}
.unslider .caption {
text-align: center}
.unslider .caption .more-link{display: none}

@media only screen and (max-width: 800px) {
    .unslider-arrow {
        height: 24px;
        font-size: 20px;

    }
    .unslider .caption {font-size:.7em}
    .unslider .caption p{display: none}
}